In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [175]:
train = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")

In [87]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [160]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [89]:
train.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [176]:
def clean(data):
    new_data = data.drop(['Name', 'PassengerId',],axis=1)
    
    # cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
    cols = ['Age']
    for col in cols:
        new_data[col].fillna(data[col].median(),inplace=True)
    
    cols = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
    for col in cols:
        new_data[col].fillna(0,inplace=True)

    cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
    for col in cols:
        new_data[col].fillna(data[col].mode()[0],inplace=True)
    
    return new_data

train = clean(train)
test = clean(test)

In [177]:
def preprocess(data):
    le = LabelEncoder()
    
    data['Cabin'] = data['Cabin'].apply(lambda x: x.split('/')[2])
    cols = ['HomePlanet', 'Cabin', 'Destination']
    for col in cols:
        data[col]= le.fit_transform(data[col])
        print(le.classes_)
    
    cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
    # data['Luxuries'] = data[cols].sum(axis=1)
    # mm_scaler = MinMaxScaler()
    # data['Luxuries'] = mm_scaler.fit_transform(data[['Luxuries']]).flatten()
    # data = data.drop(cols,axis=1)
    
    mm_scaler = MinMaxScaler()
    for col in cols:
        data[col]= mm_scaler.fit_transform(data[[col]])
    return data

In [178]:
train = preprocess(train)
test = preprocess(test)

['Earth' 'Europa' 'Mars']
['P' 'S']
['55 Cancri e' 'PSO J318.5-22' 'TRAPPIST-1e']
['Earth' 'Europa' 'Mars']
['P' 'S']
['55 Cancri e' 'PSO J318.5-22' 'TRAPPIST-1e']

In [179]:
train.describe()

,HomePlanet,Cabin,Destination,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000
mean,0.649833,0.516162,1.494306,0.364434,0.015356,0.015042,0.007218,0.013593,0.012359
std,0.795183,0.499767,0.814966,0.181537,0.046103,0.053527,0.025456,0.050230,0.046995
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.253165,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,2.000000,0.341772,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,2.000000,0.468354,0.002862,0.002046,0.000936,0.002365,0.001657
max,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [181]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [182]:
x = train.drop(['Transported'],axis=1)
y = train['Transported']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.1,random_state = 15)

def fit_and_score(models):
    scores = {}
    for name, model in models.items():
        model.fit(x_train,y_train)
        scores[name] = model.score(x_test,y_test)
    return scores

In [183]:
models = {
    "LR": LogisticRegression(),
    "KN": KNeighborsClassifier(),
    "RF": RandomForestClassifier(),
    "XGBoost": GradientBoostingClassifier()
}

fit_and_score(models)

{'LR': 0.7574712643678161,
 'KN': 0.7494252873563219,
 'RF': 0.7896551724137931,
 'XGBoost': 0.7896551724137931}

In [185]:
models = {
    "RF5": RandomForestClassifier(max_depth=5),
    "RF6": RandomForestClassifier(max_depth=6),
    "RF7": RandomForestClassifier(max_depth=7),
    "RF8": RandomForestClassifier(max_depth=8),
}

fit_and_score(models)

{'RF2': 0.7413793103448276,
 'RF3': 0.7528735632183908,
 'RF4': 0.7666666666666667,
 'RF5': 0.7873563218390804,
 'RF6': 0.7896551724137931,
 'RF7': 0.7839080459770115,
 'RF8': 0.7873563218390804}

In [190]:
models = {
    "RF1": RandomForestClassifier(max_depth=6, min_samples_split=0.001, max_features="log2"),
    "RF2": RandomForestClassifier(max_depth=6, min_samples_split=0.001)
}

fit_and_score(models)

{'RF1': 0.7850574712643679, 'RF2': 0.7862068965517242}